<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Logowanie" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="container py-5">
      <%= yield %>
    </div>
  </body>
</html>